body{
    background-color: rgb(226, 223, 223);
    font-family: 'Montserrat', sans-serif;
}
.display_none{
    display: none;
}

.container_inicial{
    width: 940px;
    margin:0px auto;  
}
.botoes_inicial{
    position: relative;
    top: 335px;
    padding: 10px;
    
}
.div_cmç{
    margin-top: 5px;

}
.div_add{
    margin-top: 5px;

}
a{
    text-decoration: none;
}

.btn_cmç{
    
    background-color: rgb(59, 152, 245);
    height: 60px;
    width: 30%;
    display:block;
    margin: 0px auto;
    border: solid 3px rgb(139, 105, 234) ;
    border-radius: 18px;
    font-weight: bold;
    color: white;
    font-size: 18px;
         
}
.btn_add{
    background-color: rgb(59, 152, 245);
    height: 60px;
    width: 30%;
    display:block;
    margin: 0px auto;
    border: solid 3px rgb(139, 105, 234) ;
    border-radius: 18px;
    font-weight: bold;
    color: white;
    font-size: 18px;

     
}

@media screen and (max-width:480px) {
    .container_inicial{
        width: 100%;
    }
    .btn_cmç{
        width: 200px;

    }
    .btn_add{
        width: 200px;

    }
}



